# Binaries
redin
redin-debug

# Test binaries
test/*/server_test
test/*/bridge_test
test/*/leak_test

# Odin build artifacts
*.o
*.obj
*.pdb

# Build output
build/

# Dev server runtime port file (written by --dev mode)
.redin-port

# Integration test working directory
test/integration/testapp/

# clojure-lsp
.clj-kondo/
.lsp
.nrepl-port
docs/superpowers
.worktrees/
